:root{
   --body-background-color: #f5f6f7;
   --white-color: #ffffff;
   --font-color: #4e4e4e;
   --border-gray-color : #dadada;
   --black-color: #333333;
   --border_black-color: #808080;
   --background-gray-color: #e1e1e1;
   --ssss: #c8c8c8;
   --none: rgb(255, 255, 255, 0);
}

*{
   margin:0;
   padding:0;
}

body{
   background-size: cover;
}

body, input, select, textarea, button {
   font-family: "Montserrat", sans-serif;
   letter-spacing: -0.2px;
   font-size: 16px;
}

.signIn_main{
   width: 300px;
   height: 480px;

   display:flex;
   flex-direction:column;
   align-items:center;
   background-color: #202020;
   border-radius: 15px 15px 15px 15px / 15px 15px 15px 15px;

   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-55%);

   box-shadow: 5px 5px 10px #101010, -2px -2px 4px #303030;
}

.signIn_title{
   weight: 150px;
   height: 70px;
   margin-top: 50px;
   font-family: "Montserrat", sans-serif;
   font-size: 35px;
   font-weight: 900;
   color: #ffd700;
   text-shadow: 1px 1px 1px #303030;
   text-align: center;
   line-height: 100%;
}

.signIn_id{
   margin-top: 60px;
}
.signIn_pw{
   margin-top: 15px;
}

.signIn_id input{
   border: 0;
   outline: 0;
   font-size: 16px;
   border-radius: 320px;
   padding: 16px;
   background-color: #202020;
   text-shadow: 1px 1px 0 #303030;
   margin-right: 8px;
   box-shadow: inset 2px 2px 5px #101010, inset -5px -5px 10px #303030;
   width: 250px;
   box-sizing: border-box;
   transition: all 0.2s ease-in-out;
   appearance: none;
   -webkit-appearance: none;
   color: #fff;
}
.signIn_pw input{
   border: 0;
   outline: 0;
   font-size: 16px;
   border-radius: 320px;
   padding: 16px;
   background-color: #202020;
   text-shadow: 1px 1px 0 #303030;
   margin-right: 8px;
   box-shadow: inset 2px 2px 5px #101010, inset -5px -5px 10px #303030;
   width: 250px;
   box-sizing: border-box;
   transition: all 0.2s ease-in-out;
   appearance: none;
   -webkit-appearance: none;
   color: #fff;
}
input:focus {
   box-shadow: inset 1px 1px 2px #101010, inset -1px -1px 2px #303030;
}

.signIn_checkIdpw{
   width: 181px;
   height: 25px;
   display: flex;
   font-size: 13px;
   color: #AE1100;
   text-shadow: 1px 1px 0 #303030;
   align-items: center;
   justify-content: flex-start;
   margin:0 auto;
}

.signIn_button {
   margin-top: 45px;
   margin-left: 50px;
   font-size: 18px;
   height:48px;
   border: 0;
   outline: 0;
   font-size: 20px;
   border-radius: 320px;
   padding: 13px;
   background-color: #202020;
   text-shadow: 1px 1px 0 #303030;
   color: #61677C;
   font-weight: 700;
   box-shadow: -5px -5px 20px #303030, 5px 5px 20px #101010;
   transition: all 0.2s ease-in-out;
   cursor: pointer;
   font-weight: 600;
   display: block;
   width: 150px;
   color: #AE1100;
}
.signIn_button:hover{
   box-shadow: -2px -2px 5px #303030, 2px 2px 5px #101010;
}
.signIn_button:active {
   box-shadow: inset 1px 1px 2px #101010, inset -1px -1px 2px #303030;
}
.OB_signUp{
   width: 60px;
   padding-top: 20px;
   margin:0 auto;
   color: #fff;
   font-weight: 300;
   background-color: var(--none);
   border: 0;
   outline: 0;
   font-size: 13px;
   cursor: pointer;
}





.signUp_main{
   width: 300px;
   height: 480px;

   display:flex;
   flex-direction:column;
   align-items:center;
   background-color: #202020;
   border-radius: 15px 15px 15px 15px / 15px 15px 15px 15px;

   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%,-55%);

   box-shadow: 5px 5px 10px #101010, -2px -2px 4px #303030;
}

.signUp_title{
   weight: 150px;
   height: 50px;
   margin-top: 25px;
   font-family: "Montserrat", sans-serif;
   font-size: 35px;
   font-weight: 900;
   color: #ffd700;
   text-shadow: 1px 1px 1px #303030;
   text-align: center;
}

.signUp_name{
   margin-top: 19px;
}
.signUp_id{
   margin-top: 13px;
}
.signUp_pw{
   margin-top: 13px;
}
.signUp_pw_check{
   margin-top: 13px;
}


.signUp_name input{
   border: 0;
   outline: 0;
   font-size: 16px;
   border-radius: 320px;
   padding: 16px;
   background-color: #202020;
   text-shadow: 1px 1px 0 #303030;
   margin-right: 8px;
   box-shadow: inset 2px 2px 5px #101010, inset -5px -5px 10px #303030;
   width: 250px;
   box-sizing: border-box;
   transition: all 0.2s ease-in-out;
   appearance: none;
   -webkit-appearance: none;
   color: #fff;
}
.signUp_id input{
   border: 0;
   outline: 0;
   font-size: 16px;
   border-radius: 320px;
   padding: 16px;
   background-color: #202020;
   text-shadow: 1px 1px 0 #303030;
   margin-right: 8px;
   box-shadow: inset 2px 2px 5px #101010, inset -5px -5px 10px #303030;
   width: 250px;
   box-sizing: border-box;
   transition: all 0.2s ease-in-out;
   appearance: none;
   -webkit-appearance: none;
   color: #fff;
}
.signUp_pw input{
   border: 0;
   outline: 0;
   font-size: 16px;
   border-radius: 320px;
   padding: 16px;
   background-color: #202020;
   text-shadow: 1px 1px 0 #303030;
   margin-right: 8px;
   box-shadow: inset 2px 2px 5px #101010, inset -5px -5px 10px #303030;
   width: 250px;
   box-sizing: border-box;
   transition: all 0.2s ease-in-out;
   appearance: none;
   -webkit-appearance: none;
   color: #fff;
}
.signUp_pw_check input{
   border: 0;
   outline: 0;
   font-size: 16px;
   border-radius: 320px;
   padding: 16px;
   background-color: #202020;
   text-shadow: 1px 1px 0 #303030;
   margin-right: 8px;
   box-shadow: inset 2px 2px 5px #101010, inset -5px -5px 10px #303030;
   width: 250px;
   box-sizing: border-box;
   transition: all 0.2s ease-in-out;
   appearance: none;
   -webkit-appearance: none;
   color: #fff;
}
input:focus {
   box-shadow: inset 1px 1px 2px #101010, inset -1px -1px 2px #303030;
}

.signUp_checkIdpw{
   width: 181px;
   height: 25px;
   display: flex;
   font-size: 13px;
   color: #AE1100;
   text-shadow: 1px 1px 0 #303030;
   align-items: center;
   justify-content: flex-start;
   margin:0 auto;
}

.signUp_button {
   margin-top: 4px;
   margin-left: 50px;
   font-size: 18px;
   height:48px;
   border: 0;
   outline: 0;
   font-size: 20px;
   border-radius: 320px;
   padding: 13px;
   background-color: #202020;
   text-shadow: 1px 1px 0 #303030;
   color: #61677C;
   font-weight: 700;
   box-shadow: -5px -5px 20px #303030, 5px 5px 20px #101010;
   transition: all 0.2s ease-in-out;
   cursor: pointer;
   font-weight: 600;
   display: block;
   width: 150px;
   color: #AE1100;
}
.signUp_button:hover{
   box-shadow: -2px -2px 5px #303030, 2px 2px 5px #101010;
}
.signUp_button:active {
   box-shadow: inset 1px 1px 2px #101010, inset -1px -1px 2px #303030;
}
.OB_signIn{
   width: 60px;
   padding-top: 20px;
   margin:0 auto;
   color: #fff;
   font-weight: 300;
   background-color: var(--none);
   border: 0;
   outline: 0;
   font-size: 13px;
   cursor: pointer;
}